@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

input:focus {
	outline: none;
}

@layer components {
	* {
		/* @apply font-[Poppins]; */
	}

	.reg-inputs {
		@apply border rounded-md flex border-light-gray text-xl h-12 justify-between px-3 focus:bg-tertiary focus:duration-200 duration-150 w-full;
	}

	.pass-vis {
		@apply cursor-pointer text-right text-blue-600 hover:text-blue-900;
	}

	label {
		@apply text-little-text text-xl;
	}

	.big-inputs {
		@apply rounded-2xl min-h-[10rem] py-2 w-[41.9rem];
	}

	.file-input:hover ~ div {
		background-color: #b3fffb;
		transition: 0.2s;
	}
}
